*{
    margin: 0px;
    padding: 0px;
}
body{
    background: white;
    margin: 0px;
    padding: 0px;

}

.contenedor
{
    margin-top:2px;
    padding: 10px;
    background:rgb(241, 73, 73);
    color:black;
    border: 100px;
}

.btn
{
    padding:10px;
    margin:10px;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
}

.btn:hover{
    background:white;
    color: white;
}

.titulo
{
    margin:0px 0px 20px 0;
    border-bottom:2px solid rgb(150, 1, 1);
    padding: 10px;
}

.titulo h1{
    font-family:'lobster', cursive;
}

.custom-select
{
    margin-top:10px;
}

